<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Gestionnaire de fichier</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Flaming Software", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Accueil", "Index", "Home")</li>
                    <li>@Html.ActionLink("Mon compte", "Index", "Manage")</li>
                    <li>@Html.ActionLink("Telechargement", "Index", "Client")</li>
                    @if (User.IsInRole("Admin"))
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Administration <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Gestion des comptes", "GereCompte", "Admin")</li>
                                <li>@Html.ActionLink("Gestion des fichiers", "GereFichier", "Admin", new { id = 1}, null)</li>
                            </ul>
                        </li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content well">
        @Html.Partial("_Alerts")
        @RenderBody()
        <hr />
        
    </div>
    <div class="container-fluid body-content well2">
        <footer>
            <div class="box">
                <div class="column">
                    <div>&copy;@DateTime.Now.Year FlamingSoftware.com</div>
                    <div>@Html.ActionLink("A propos de nous", "APropos", "Home")</div>
                    <div>@Html.ActionLink("Question réponse", "Faq", "Home")</div>
                </div>
            </div>
        </footer>
    </div> 
    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script type="text/javascript">
    $(document).ready(function () {
        $('[id*="LienAjax_"]').click(function () {

            $('[class*="panel-collapse in"]').collapse('hide');
            
            //on récupère l'id du lien cliqué
            var str = $(this)[0].id;
            str = str.substring(str.indexOf("_") + 1);
            //nom de la balise a afficher ou cacher
            var element = "#collapse" + str;

            $(element).collapse('show');
        });

        $('[id*="rename_dossier_"]').click(function () {
            //on recupère l'id
            var str = $(this)[0].id;
            str = str.substring(str.lastIndexOf("_") + 1);

            $('#idDossierActuel')[0].value = Number(str);
        });

        $('[id*="rename_fichier_"]').click(function () {
            //on recupère l'id
            var str = $(this)[0].id;
            str = str.substring(str.lastIndexOf("_") + 1);

            $('#idFichierActuel')[0].value = Number(str);
        });

        $('[id*="upload_input_"]').change(function () {
            //on recupère l'id
            var str = $(this)[0].id;
            var path = $(this)[0].value;
            path = path.substring(path.lastIndexOf("\\") + 1);

            str = str.substring(str.lastIndexOf("_") + 1);
            str = "#input_up_" + str;
            $(str)[0].value = path;
        });
    });
    </script>
    
</body>
</html>
