@model IEnumerable<GestionnairePaquet.Models.Societe>

@{
    ViewBag.Title = "Gestion des clients";
}
<h2>Gestion des clients</h2>
<p>
    @Html.ActionLink("Ajouter un nouveau client", "CreateSociete")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Adresse)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CodePostal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ville)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Adresse)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CodePostal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ville)
        </td>
        <td>
            @Html.ActionLink("Modifier", "EditSociete", new { id=item.ID }) |
            @Html.ActionLink("Détails", "DetailsSociete", new { id=item.ID }) |
            @Html.ActionLink("Supprimer", "DeleteSociete", new { id=item.ID }) |
            @Html.ActionLink("Comptes", "Comptes", new { id=item.ID })
        </td>
    </tr>
}

</table>
