@model IEnumerable<GestionnairePaquet.Models.Version>

@{
    ViewBag.Title = "Choississez la version";
}
<h2>Liste des versions</h2>
@if (Model.Count() > 0)
{
    <div class="panel-group" id="accordion">
        @for (int i = 0; i < Model.Count(); i++)
        {
            var item = Model.ElementAt(i);

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <!--<a data-toggle="collapse" data-parent="#accordion" aria-expanded="false">-->
                            @Ajax.ActionLink(string.Concat(item.Produit.Nom, " v", item.Numero), "AfficheFichiers", new { id = item.ID }, new AjaxOptions
                            {
                               InsertionMode = InsertionMode.Replace,
                               UpdateTargetId = string.Concat("contenu", item.ID),
                               HttpMethod = "GET"
                            }, new { id = "LienAjax_" + item.ID })
                        <!--</a>-->
                    </h4>
                </div>
                <div id="@string.Concat("collapse", @item.ID)" class="panel-collapse collapse">
                    <div id="@string.Concat("contenu", @item.ID)" class="panel-body">
                    </div>
                </div>
            </div>


        }
    </div>
}
